
$white: #fff;
$gray-100: rgb(176, 171, 158);
$gray-200: rgb(135, 132, 119);
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #839496;
$gray-700: #495057;
$gray-800: rgb(56, 62, 64);
$gray-900: rgb(40, 46, 47);
$black: #000;
$blue: rgb(84, 67, 12);
$indigo: #6610f2;
$purple: #CB4B16;
$pink: #CB4B16;
$red: #CB4B16;
$orange: #CB4B16;
$yellow: #CB4B16;
$green: #CB4B16;
$teal: #CB4B16;
$cyan: rgb(135, 132, 119);
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$body-color: $gray-600;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: rgba(255,255,255,.75);
$dropdown-link-hover-bg: $body-bg;
$nav-tabs-border-color: $blue;
$nav-link-disabled-color: $gray-400;
$nav-tabs-link-hover-border-color: $gray-400;
$nav-tabs-link-active-border-color: $blue $blue $nav-tabs-link-active-bg;